@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 35.71%;
  width: 35.71%;
  top: 21.43%;
  right: 32.14%;
  bottom: 42.86%;
  left: 32.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.headerProfile,
.welcomeJoeDoe {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.headerProfile {
  width: 5.19rem;
  height: 5.19rem;
}
.welcomeJoeDoe {
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-orange);
  text-align: center;
  display: inline-block;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
  color: var(--color-orange);
  text-align: center;
  display: inline-block;
}
.home,
.story {
  position: relative;
}
.contactUs,
.gallery {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.contactUs {
  width: 5.42rem;
}
.drawerMenu,
.drawerMenuOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.drawerMenuOptions {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.drawerMenu {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  width: 15rem;
  height: 100%;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xs);
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-lato);
}
.drawerMenu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 1200px) {
  .drawerMenu {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .drawerMenu {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .drawerMenu {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
